[Unit]
Description=Unmount devices at crypttab on shutdown
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/crypttab-umount.sh

[Install]
WantedBy=multi-user.target
